@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
</head>
<body>
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Authorization")
    {
        <div class="container">
            <header>
                <div class="navbar">
                    <div class="menu-container">
                        <button id="menuButton">MENU</button>
                    </div>
                    <div class="title-container">
                        PROD-VS
                    </div>
                    <div class="time-container">
                        <span id="time"></span>
                        <br>
                        <span id="date"></span>
                    </div>
                    <div class="tabs-container" id="tabsContainer">
                        <!-- Здесь будут отображаться открытые вкладки -->
                    </div>
                </div>
                <div id="sideMenu" class="side-menu">
                    <a href="javascript:void(0)" class="close-btn">&times;</a>
                    <a href="#" id="homeButton">Home</a>
                    <a href="#" id="privateButton">Private</a>
                </div>
                
            </header>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        @RenderBody()
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
